tracking_selection_manuscript.aux 
tracking_selection_manuscript.bbl 
tracking_selection_manuscript.blg 
tracking_selection_manuscript.log 
tracking_selection_manuscript.out
tracking_selection_manuscript.synctex.gz
Figures/Figure1_model.idraw
Supplement/supplement.aux
Supplement/supplement.bbl
Supplement/supplement.blg
Supplement/supplement.log
Supplement/supplement.out
Supplement/supplement.synctex.gz
Supplement/Tables/TableS3.ods
.DS_Store
*.DS_Store
.Rproj.user
